        h1 {
            font-family: 'Fjalla One', sans-serif;
        }
        
        h2 {
            font-family: 'Fjalla One', sans-serif;
            text-align: center;
        }
        
        nav {
            font-family: 'Fjalla One', sans-serif;
            color: white !important;
        }
        
        p {
            font-family: 'Bitter', serif;
        }
        
        h3 {
            font-family: 'Fjalla One', sans-serif;
            text-align: center;
        }
        
        h4 {
            font-family: 'Fjalla One', sans-serif;
            text-align: center;
            color: white;
        }
        
        h5 {
            font-family: 'Fjalla One', sans-serif;
            text-align: center;
        }